* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

::selection {
	color: white;
	background: #0f8c52;
}

body {
	display: grid;
	grid-template-columns: 400px 1fr;
	grid-template-rows: 70px 1fr 15vh;
	grid-template-areas: 
	"header header"
	"main main"
	"footer footer";
}

header {
	grid-area: header;
	display: grid;
	grid-template-rows: 70px;
	grid-template-columns: 400px 1fr;
	grid-template-areas: 
	"title nav";
}

header div {
	grid-area: title;
	display: flex;
	justify-self: center;
	align-items: center;
}

header h1 {
	display: inline;
	margin-right: 10px;
	font-size: 40px;
	font-weight: 100;
	color: black;
}

#titleEmphasis {
	color: #0f8c52;
	font-weight: 900;
}

.logo a {
	text-decoration: none;
}

nav {
	grid-area: nav;
	display: flex;
	justify-self: right;
	align-items: center;
}

nav li {
	display: inline;
}

li a {
	color: black;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	margin: 4em;
}

li a:hover {
	font-size: 18px;	
}

main {
	grid-area: main;
	background-color: #ebebeb;
	min-height: 800px;
	padding-bottom: 100px;
}

.centerFit {	
	max-width: 100%;
	max-height: 100vh;
}

.content {
	min-width: 400px;
	max-width: 100%;
	margin: 40px auto;
	padding: 0 100px;
}

.content h1 {
	font-weight: 600;
	font-size: 55px;
}

.topics {
	margin: auto;
	display: grid;
	margin-top: 80px;
	grid-template-columns: 1fr 40%;
	grid-template-rows: 100%;
	grid-template-areas: "main relevant";
}

.topics a {
	text-decoration: none;
	color: black;
}

.topics h1 {
	font-weight: 100;
	font-size: 45px;
}

.topics a:hover {
	color: #0f8c52;
}

.topics p {
	width: 400px;
	text-align: justify;
}

.mainArticles {
	grid-area: main;
	margin-right: 40px;
}

.ordinary {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100%;
	grid-template-areas: "info pic";
	background-color: white;
	padding: 20px;
	margin-bottom: 10px;
}

.articleInfo {
	grid-area: info;
	padding: 20% 40px;
}

.image	{
	grid-area: pic;
	max-width: 100%;
	min-width: 400px;
}

.hidden {
	display: none;
}

.relevantArticles {
	max-width: 100%;
	background-color: white;
	height: 600px;
	text-align: center;
}

.relevantArticles h1 {
	font-size: 24px;
	margin: 40px 0px;
	font-weight: 600;
}

.relevantHeader {
	display: flex;
	background-color: #D7EFEE;
	display: grid;
	grid-template-columns: 60% 1fr;
	grid-template-rows: 175px;
	grid-template-areas: "relevantHeaderInfo relevantHeaderImage"
}

.relevantHeaderInfo {
	grid-area: relevantHeaderInfo;
	text-align: center;
	padding: 10% 40px;
}


.relevantHeaderInfo p {
	margin-left: 5px;
}

.relevantHeaderInfo h1 {
	font-size: 45px;
	text-align: left;
	font-weight: 600px;
	margin: 0px;
}

.relevantHeaderImage {
	grid-area: relevantHeaderImage;
	float: right;
	max-width: 50%;
	min-width: 200px;
	max-height: 100vh;
}


footer	{
	grid-area: footer;
	height: 15vh;
	background-color: #0f8c52;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"footerTitle footerNav";
}

footer h1 {
	display: inline;
	color: white;
	margin-right: 10px;
	font-size: 40px;
	font-weight: 100;
}

#footerEmphasis {	
	font-weight: 900;
}

.footerTitle {
	grid-area: footerTitle
	display: flex;
	justify-self: center;
	align-self: center;
}

.footerTitle p {
	color: white;
	text-align: center;
	font-weight: 100;
}

.footerNav {
	grid-area: footerNav;
	display: flex;
	justify-self: center;
	align-self: center;
}

.footerNav img {
	width: 50px;
	height: 50px;
	margin: 0 20px;
}

@media (min-width: 330px) and (max-width: 1000px){
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 100px 1fr 15vh;
		grid-template-areas: 
		"header"
		"main"
		"footer";
	}

	header {
		grid-template-columns: 1fr;
		grid-template-rows: 70px 70px;
		grid-template-areas: 
		"title"
		"nav";
	}

	nav {
		justify-self: center;
	}

	ul.navLinks{
		display: flex;
		padding-bottom: 50px;
		justify-self: center;
	}

	nav li a {		
		margin: 20px;
	}

	.relevantArticles {
		display: none;
	}

	.hidden {
		display: block;
	}

}

@media (min-width: 330px) and (max-width: 900px) {
	.slide {
		grid-template-rows: 200px 300px;
		grid-template-columns: 100%;
		grid-template-areas: 
		"slidePic"
		"slideInfo";
	}

	.slidePicture {
		height: 300px;
		width: 300px;
	} 

	.slidePic {
		grid-area: slidePic;
		display: flex;
		justify-self: center;
	}

	.slideInfo {
		grid-area: slideInfo;
		align-self: center;
		justify-self: center;
		text-align: center;
		padding: 0 10px;
	}

	.slideInfo h1 {
		font-size: 38px;
	}

	.hidden {
		display: block;
	}

}

@media (min-width: 330px) and (max-width: 840px) {
	footer	{
		height: 30vh;
		display: grid;
		grid-template-rows: 15vh 15vh;
		grid-template-columns: 100%;
		grid-template-areas: 
		"footerTitle"
		"footerNav"; 
	}

	.hidden {
		display: block;
	}

}

